{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Hero-->
<section id="hero" class="vh-100">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 col-md-9">
                <div class="card booking-card">
                    <h3 class="card-header text-lead">Service I am looking for</h3>
                    <div class="card-body">
                        <div class="row pb-4 ms-3">
                            <div class="form-check form-check-inline  col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Kennel Boarding</label>
                            </div>
                            <div class="form-check form-check-inline col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Pet Sitting</label>
                            </div>
                            <div class="form-check form-check-inline col-md-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Dog walking</label>
                            </div>
                        </div>
                        <div class="row pb-4 ms-2">
                            <div class="col-md-4">
                                <label for="exampleFormControlInput1" class="form-label">Near</label>
                                <input type="eir_code" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Your Eircode">
                            </div>
                            <div class="col-md-4">
                                <label for="from_date" class="form-label">From:</label>
                                <input type="date" class="form-control" id="from_date" name="from_date">
                            </div>
                            <div class="col-md-4">
                                <label for="to_date" class="form-label">Until:</label>
                                <input type="date" class="form-control" id="to_date" name="to_date">
                            </div>
                        </div>
                        <div class="row pt-3 ms-3">
                            <div class="form-check form-check-inline col-md-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Small 0-10kg</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Medium 10kg to 25kg</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Large 25-55kg+</label>
                            </div>
                            <h4 class="pt-2 col-md-5">
                                <a href="{% url 'services' %}" class="btn btn-primary">Search</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="pt-5 col-12 search-btn text-center">
                <p>Book vetted local dog kennels, sitters & walkers who will care for and love your dog like you would
                </p>
                <a href="{% url 'services' %}" class="btn btn-primary sm-btn">Search</a>
            </h4>
        </div>
    </div>
</section>

<!--Services-->
<section id="services" class="bg-light pt-5 vh-100">
    <h4 class="py-5 text-center fw-bolder">Services that our members provide</h4>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Kennel Boarding
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Overnight long term boarding while you and your family look to go on vacation. They
                                    will
                                    be feed, walked and given a warm bed. Travel in peace of mind that your furry loved
                                    one
                                    will be looked after!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="fw-bold accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Pet Sitting
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Your pets can enjoy their stay during the working hours in the sitter’s home. They’ll
                                    be
                                    looked after and loved as you would yourself until you are ready to collect them
                                    again.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="fw-bold accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Dog walking
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Have an energetic furry friend that you can't keep up with? Never fear with this
                                    service
                                    your doggo will be taken for long walk in your local area to burn off that extra
                                    energy!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col servicecard">
                <div class="card">
                    <div class="card-header text-center fw-bold">
                        Book these services with peace of mind
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>All of our service providers are Garda Vetted</li>
                            <li>All of our service providers provide detailed profile and personal information</li>
                            <li>All of our service providers are interviewd by our team</li>
                        </ul>
                        <a href="#" class="btn btn-primary col-12">Book with us today</a>
                    </div>
                    <div class="card-footer text-muted text-center">
                        TC & C's - link
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Reviews-->
<section id="reviews" class="bg-light vh-100">
    <div class="container pt-5">
        <div class="col-lg-7">
            <h1 class="display-4 pb-4 fw-bolder">Reviews</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/mike.avif' %}" class="card-img-top" alt="picture of a man and his dog">
                    <div class="card-body">
                        <h5 class="card-title">Mike</h5>
                        <p class="card-text fst-italic">"I was concerned about leaving Milo with a stranger, but after coming back
                            and seeing he nearly didn't want to leave the kennel that all disappeared. Going forward
                            Dawg House will be my go to for pet kennel care!"</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/jane.avif' %}" class="card-img-top" alt="picture of a woman and her dog">
                    <div class="card-body">
                        <h5 class="card-title">Jane</h5>
                        <p class="card-text fst-italic">"The sitter we found on Dawg House took on my dog at short notice and met
                            expectations and beyond! I wouldn't hesitate in using Dawg House going forward in the
                            future."</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--How It Works-->
<section id="howitworks" class="vh-100 bg-light pt-5">
    <div class="text-center fw-bold pb-4 display-4">
        Find local service provider who will love your doggo like it's part of the family
    </div>
    <div class="container pt-5">
        <div class="row">
          <div class="col-sm">
            <div class="text-start text-sm-center p-3"><h4 class="fw-bold"><i class="bi bi-search pe-2"></i>Search</h4>
                <div>Find vetted service providers and choose the one that best matches you and your four legged
                    friend.
                </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="text-start text-sm-center p-3"><h4 class="fw-bold"><i class="bi bi-cash-coin pe-2"></i></i>Book & Pay</h4>
                <div>Click, book and pay all online with our secure system</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="text-start text-sm-center p-3"><h4 class="fw-bold"><i class="bi bi-hand-thumbs-up pe-2"></i>Relax</h4>
                <div>Rest easy that your furry friend is in the loving arms of our service providers</div>
            </div>
          </div>
        </div>
      </div>
</section>

{% endblock %}