{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Profile-->
<div class="border border-2">
    <h1 class="display-4 text-center py-4">Service Providers</h1>
    <div class="container pb-5">
        <div class="row">
            {% for serviceprovider in serviceproviders %}
            {% if serviceprovider.is_service_provider is True %}
            <div class="col-sm pb-5">
                <div class="container border border-primary rounded mb-3 p-2">
                    <h5>{{ serviceprovider.first_name }} {{ serviceprovider.last_name }}</h5>
                    <p><small class="text-muted"> {{ serviceprovider.address_1 }}, {{ serviceprovider.county }}, {{ serviceprovider.eircode}}</small></p>
                    <p>{{ serviceprovider.serviceprovider.get_service_type_display }}</p><p>&euro;{{ serviceprovider.serviceprovider.price_per_service }} per service</p>
                    <p class="fst-italic">{{ serviceprovider.serviceprovider.description }}</p>
                    <!--Reviews page link here-->
                    <p class="fst-italic">Blah blah<a href="m">...more</a></p> 
                    <a href="{%url 'bookingform' serviceprovider.id %}" class="btn btn-primary">Book Now</a>
                </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
