html {
    height: 100%;
}

/* Hero Section */
#hero{
    background: url('/static/images/dog-hero-sm.avif') no-repeat center;
    background-size: cover;
}

.booking-card{
    display: none;
}

.sm-btn{
    width: 85vw;
}

/* Services Section */
.servicecard{
    padding-top: 30px;
}

/* Reviews Section */
.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

/*Icon on Bookings page */
/* from Boutique Ado - Bolum */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* How It Works Section */


/* -------------------------------- Media Queries */

/* For tablets */
@media (min-width: 768px) {
    /* Hero Section */
    #hero{
        background: url('/static/images/dog-hero.avif') no-repeat;
        background-size: cover;
        background-position-x: 65%;
    }
    
    .booking-card {
        display: block;
        top: 125px;
    }
    .search-btn{
        display: none;
    }
    /* Services Section */
    .servicecard{
        padding-top: 0;
    }
    /* Reviews Section */
    .card-text {
        max-height: 200px;
        min-height: 150px;
    }
    
  }
  
/* For desktop: */
@media (min-width: 1024px) {
    /* Hero Section */
    #hero{
        background: url('/static/images/dog-hero.avif') no-repeat center;
        background-size: cover;
    }

    .booking-card {
        top: 110px;
    }
    /* Reviews Section */
    .card-img-top {
    max-height: 100%;
    min-height: 100%;
}
  }