@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

html {
    height: 100%;
}

body {
    overflow-x: hidden !important;
    font-family: 'Aleo', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

/*Scroll to top button*/
.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    display: none;
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 100px;
    white-space: nowrap;
  }

/* Hero Section */
#hero{
    background: url('../images/dog-hero-sm.avif') no-repeat center;
    background-size: cover;

}

.mycustom-jumbotron {
    height: 300px;
  }

/*Showcase on Landing page*/
.booking-card {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
    }

    100% {
        left: 0px;
    }
}

.booking-card{
    display: none;
}

.sm-btn{
    width: 85vw;
}

/* Services Section */
.servicecard{
    padding-top: 30px;
}

/* Reviews Section */
.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

/*Icon on Bookings page */
/* from Boutique Ado - Bolum */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* How It Works Section */


/* -------------------------------- Media Queries */

/* For tablets */
@media (min-width: 768px) {
    /* Hero Section */
    #hero{
        background: url('../images/dog-hero.avif') no-repeat;
        background-size: cover;
        background-position-x: 65%;
    }

    .booking-card {
        display: block;
        top: 125px;
    }
    .search-btn{
        display: none;
    }
    /* Services Section */
    .servicecard{
        padding-top: 0;
    }
    /* Reviews Section */
    .card-text {
        max-height: 200px;
        min-height: 150px;
    }
    
  }
  
/* For desktop: */
@media (min-width: 1024px) {
    body{
        margin-left: 25px;
        margin-right: 25px;
    }
    /* Hero Section */
    #hero{
        background: url('../images/dog-hero.avif') no-repeat center;
        background-size: cover;
    }

    .booking-card {
        top: 110px;
    }
    /* Reviews Section */
    .card-img-top {
    max-height: 100%;
    min-height: 100%;
}
  }