{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="border border-2 min-vh-100">
    <h1 class="display-4 text-center pt-5">{% trans "Verify Your E-mail Address" %}</h1>
    <div class="pt-5">
      <div class="text-center ">
        <p class="lead">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.</p>
          <p>Please <a href="#">contact us</a> if you do not receive it within a few minutes.</p>{% endblocktrans %}
      </div>
    </div>
  </div>
{% endblock %}
