{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Service -->
<div class="border border-2">
    <h1 class="display-4 text-center py-4">{{ service.service_type }}</h1>
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm pb-5">
                <div class="container border border-primary rounded mb-3 p-2">
                    <p><small class="text-muted"> {{service.sub_heading}} </small></p>
                    <p>&euro; {{service.cost}}  per service</p>
                    <p class="fst-italic">{{ service.description }}</p>
                    <ul class="list-group pb-4">
                        <li class="list-group-item list-group-item-primary">{{ service.detail_1 }}</li>
                        <li class="list-group-item list-group-item-light">{{ service.detail_2 }}</li>
                      </ul>
                    <!--Reviews page link here-->
                    <p class="fst-italic">Blah blah<a href="m">...more</a></p> 
                    <a href="{% url 'service_detail' service.id %}" class="btn btn-primary">Add to cart</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}
